<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>NYC Landmarks</title>
   </head>
   <body>
      <h1>Register a new Landmark</h1>
      <form action="/landmarks/new" method="post">
         <label>Landmark name</label><input type="text" name="landmark[name]" id="landmark_name">
         <br>
         <label>Year completed</label><input type="text" name="landmark[year_completed]" id="landmark_year_completed">
         <br>
         <input type="submit" name="Create New Landmark" value="Create New Landmark">
      </form>

   </body>
</html>
